body{
    margin: 0;
    background: #E0F7FA;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap: 25px;
  max-width: 90%;
  margin: 0 auto;
}

.card{
    width: 90%;
    height: auto;
    border: 1px solid black;
    border-radius: 25px;

    box-shadow: 10px 5px #FF6EC7;
}

.card p{  
    text-align: center;
    font-size: medium;
    font-size: 1.2rem;
}

.images img{
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0 0;
}
