body{
    margin: 0;
    background: #E0F7FA;
}

nav{
    background:#007B83;
    max-width: 100vw;
    height: 3rem;
    margin-top: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10%;
    background-color: none;
    margin-left: 25px;
}

.header-btns{
    width: 30%;
    margin-right: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-anchors{
    width: 30%;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.5rem;

    border: 1px solid white;
    border-radius: 25px;
    background: #7DF9FF;
}

.nav-anchors:hover{
    color: white;
    background-color: #FF6EC7;
}


