body{
    margin: 0;
    background: white;
}

nav{
    background-color: transparent;
    max-width: 100vw;
    height: 3rem;
    margin-top: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 10px #F2F2D9;
}

.logo{
    width: 10%;
    background-color: none;
    margin-left: 25px;
}

.header-btns{
    width: 30%;
    margin-right: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-anchors{
    width: 60%;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.5rem;

    border: 1px solid black;
    border-radius: 25px;
    background: black;
}

.nav-anchors:hover{
}


